
@font-face {
	font-family: Rochester;
	src: url('css/Rochester-Regular.ttf');
}

.logo {
	margin-top: 200px;
	margin-left: 270px;
}

.instrument {
	position: absolute;
	left: 20px;
	top: 20px;
}

.letter {
	position: absolute;
	left: 150px;
	top: 50px;
	font-size: 44px;
}

.learnButton {
	margin-top: 50px;
	margin-left: 300px;
}

.playButton {
	margin-top: 50px;
	margin-left: 150px;
}

.buildButton {
	margin-top: 50px;
	margin-left: 150px;
}

.creditButton {
	position: absolute;
	top: 50px;
	right: 50px;
}

.board {
}

.colorBar {
	position: absolute;
	width: 1210px;
	height: 80px;
	z-index: -1;
	left: -10px;
	top: -10px;
}

.slideshow {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 560px;
	top: 10px;
}

.switchCase {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 100px;
	top: 10px;
}

.switchLang {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 30px;
	top: 10px;
}

.backButton {
	width: 50px;
	margin-top: 5px;
}

.pageCount {
	font-size: 26px;
	position: absolute;
	left: 565px;
	top: 75px;	
	text-align: center;
}

.prevButton {
	position: absolute;
	width: 50px;
	left: 5px;
	top: 350px;
}

.nextButton {
	position: absolute;
	width: 50px;
	left: 1110px;
	top: 350px;
}

.itemLetter {
	background-color: white;
	position: absolute;
	z-index: 0;		
}

.spinner {
	margin-left: 80px;
	margin-top: 80px;
	margin-right: 80px;
	margin-bottom: 80px;
}

.spinner-small {
	margin-left: 80px;
	margin-top: 10px;
}

.entry {
	border-width: 5px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 5px -4px 4px 2px black;
	width: 220px;
	background-color: white;
	position: absolute;
	z-index: 0;
	-webkit-user-select: none;
	user-select: none;		
}

.entryImage {
	width: 70%;
	margin-top: 10px;
	margin-left: 35px;
}

.entryText {
	font-size:30px;
	text-align: center;
	padding: 5px;
}

.entryText0 {
	font-size: 30px;
}

.entryText1 {
	font-size: 28px;
}

.entryText2 {
	font-size: 36px;
	font-family: Rochester;
}

.entrySoundIcon {
}

.entrySound {
	width: 50px;
}

.collection {
	border-width: 2px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 2px -2px 2px 1px black;
	width: 250px;
	position: absolute;
	z-index: 0;
	-webkit-user-select: none;
	user-select: none;	
	display: inline-block;
}

.collectionImage {
	width: 30%;	
	vertical-align: middle;
	display: inline-block;	
}

.collectionText {
	margin-left: 10px;
	text-align: center;
	padding: 3px;
	display: inline-block;	
}

.collectionText0 {
	font-size: 22px;
}

.collectionText1 {
	font-size: 18px;
}

.collectionText2 {
	font-size: 28px;
	font-family: Rochester;
}

.theme {
	border-width: 5px;
	border-style: inset;
	border-color: darkgray;
	box-shadow: 5px -4px 4px 2px black;
	width: 220px;
	background-color: white;
	position: absolute;
	z-index: 0;
	-webkit-user-select: none;
	user-select: none;		
}

.themeImage {
	width: 70%;
	margin-top: 10px;
	margin-left: 35px;
}

.themeText {
	text-align: center;
	padding: 5px;
}

.themeText0 {
	font-size: 30px;
}

.themeText1 {
	font-size: 28px;
}

.themeText2 {
	font-size: 36px;
	font-family: Rochester;
}

.themeColor-1 {
	background-color: #ffffff;
}

.themeColor0 {
	background-color: #ffffc0;
}

.themeColor1 {
	background-color: #c0ffc0;
}

.themeColor2 {
	background-color: #c0ffff;
}

.themeColor3 {
	background-color: #ffc0c0;
}

.themeColor4 {
	background-color: #b17f46;
}